
<h4 class="display-4"  style="text-align: center;font-size: 20px;">Users Management</h4>
<hr>
<dx-button id="exportButton"
    icon="exportpdf"
    text="Export to PDF"
    stylingMode="outlined"
    type="danger"
    (onClick)="exportGrid()">
</dx-button>
<br>
<dx-data-grid id="gridContainer"class="table shadow p-3 mb-5 bg-white rounded"
[dataSource]="dataSource"
[rowAlternationEnabled]="true"
(onExporting)="onExporting($event)"
[showBorders]="true"


keyExpr="cin">
<dxo-export [enabled]="true"></dxo-export>

<dxo-paging [pageSize]="5"></dxo-paging>

<dxo-editing mode="form"   [useIcons]="true" ></dxo-editing>
<dxo-search-panel
[visible]="true"
[width]="70"
></dxo-search-panel>

<dxi-column dataField="cin" caption="CIN" dataType="number" >
  <dxi-validation-rule type="required"></dxi-validation-rule>
</dxi-column>
<dxi-column dataField="subuser.name" caption="FirstName">
  <dxi-validation-rule type="required"></dxi-validation-rule>
</dxi-column>

<dxi-column dataField="subuser.tel" caption="Phone" dataType="number">
  <dxi-validation-rule type="required"></dxi-validation-rule>
</dxi-column>


<dxi-column dataField="subuser.email" caption="E-mail" dataType="email">
  <dxi-validation-rule type="required"></dxi-validation-rule>
  <dxi-validation-rule type="email"></dxi-validation-rule>
  </dxi-column>





</dx-data-grid>
