
<div id="scrollview-demo">
  <dx-scroll-view #scrollView
        id="scrollview"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [showScrollbar]="true"
        [bounceEnabled]="false"
        reachBottomText="Updating...">
<h4 class="display-4"  style="text-align: center;font-size: 30px;">Spaces <br>Management</h4>
<hr>

<dx-button id="exportButton"
    icon="exportpdf"
    text="Export to PDF"
    stylingMode="outlined"
    type="danger"
    (onClick)="exportGrid1()">
</dx-button>
<dx-data-grid id="gridContainer" class="table shadow p-3 mb-5 bg-white rounded"
[showBorders]="true"
  [rowAlternationEnabled]="true"

[dataSource]="dataSource"
(onExporting)="onExporting1($event)"
keyExpr="idSpace">

<dxo-export [enabled]="true"></dxo-export>
<dxo-paging [pageSize]="5"></dxo-paging>
<dxo-search-panel
[visible]="true"
[width]="80"
[highlightCaseSensitive]="true"
></dxo-search-panel>


<dxi-column dataField="idSpace" caption="idSpace" [width] ="100">
  <dxi-validation-rule type="required"></dxi-validation-rule>
</dxi-column>

<dxi-column dataField="name" caption="Name" [width] ="100">
  <dxi-validation-rule type="required"></dxi-validation-rule>
</dxi-column>
</dx-data-grid>
  <br>



<h4 class="display-4"  style="text-align: center;font-size: 30px;">Areas Management</h4>
<hr>
<dx-button id="exportButton"
    icon="exportpdf"
    text="Export to PDF"
    stylingMode="outlined"
    type="danger"
    (onClick)="exportGrid2()">
</dx-button>

<dx-data-grid id="gridContainer" #aa class="table shadow p-3 mb-5 bg-white rounded"
[showBorders]="true"
[dataSource]="xx"
[rowAlternationEnabled]="true"
(onExporting)="onExporting2($event)"
keyExpr="idArea">


<dxo-paging [pageSize]="5"></dxo-paging>
<dxo-export [enabled]="true"></dxo-export>
<dxo-search-panel
[width]="80"
[visible]="true"
[highlightCaseSensitive]="true"
></dxo-search-panel>


<dxi-column dataField="idArea" caption="idArea">
  <dxi-validation-rule type="required"></dxi-validation-rule>
</dxi-column>
<dxi-column dataField="name" caption="Name">
  <dxi-validation-rule type="required"></dxi-validation-rule>
</dxi-column>
</dx-data-grid>

</dx-scroll-view>
